      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
      font-family: Arial, sans-serif;
      margin: 110;
      padding: 110;
      background-color: hwb(0 95% 5%); /* Cambia el color de fondo según tus preferencias */
    }

    .contenedor {
      width: 80%;
      margin: 20px auto;
    }
    
    h1 {
        text-align: center;
    }
    
    .mi-galeria {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    
    img {
        transition: transform 0.3s ease-in-out;
    }
    
    img:hover {
        transform: scale(1.2);
    }
    
    img {
        width: 200px;
        height: 150px; /* Ajusta según tus necesidades */
        object-fit: cover;
    }
    
     